@import "./Variables/Variables.scss";

.header {
  font-family: "Montserrat", sans-serif;
  background-color: $darkBlue;
  height: 38vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-title h1 {
  font-size: 70px;
  font-weight: 400;
  color: $fullWhite;
  padding-left: 13.23vw;
}
