@import "./Variables/Variables.scss";

.header {
  font-family: "Montserrat";
  font-weight: 400;
  background-color: $darkBlue;
}

.header-title {
  padding: 8%;
  height: 400px;
}

.header-title h1 {
  font-size: 70px;
  color: $fullWhite;
}
